body {
  scroll-behavior: smooth;
  background-color: #e5e5e5;
  color: #344563;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff !important;
}

.container-nav {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  color: white;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  padding: 0 15px;
}

.nav-bar {
  display: flex;
  list-style: none;
  flex: 0.3;
  color: white;
  z-index: -2;
}

.nav-bar ul {
  display: flex;
  list-style: none;
  flex: 1;
  justify-content: space-between;
  width: 100%;
}

.nav-bar a {
  color: #344563;
  text-decoration: none;
  font-size: 15px;
  font-style: medium;
}

.hamburger-btn {
  display: none;
}

.introduction {
  padding: 30vh 0;
  border-bottom-left-radius: 80px;
  background-color: white;
  background-image: url("./assets/Header\ bg@2x.png");
  background-size: 95%;
  background-repeat: no-repeat;
  background-position:
    100px 70px,
    50px 20px,
    30% 90%,
    50% 50%,
    91% 90%,
    93% 98%,
    90% 90%,
    80% 85%;
  padding-left: 100px;
  margin-bottom: 50px;
}

.logo-title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  text-align: center;
  color: #6070ff;
  margin: 10px;
  padding: 10px 20px;
  text-decoration: none;
}

.logo-title:hover {
  background-color: #fcc;
  transform: rotate(180deg);
}

.greeting {
  color: #091e42;
  font-style: bold;
  font-weight: 900;
  font-size: 40px;
  align-content: center;
  letter-spacing: 0.37px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.first-paragraph {
  color: #344563;
  font-size: 20px;
  font-weight: 400;
  font-style: regular;
  animation-name: slidein;
  animation-duration: 5s;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.about-myself .row {
  display: flex;
  flex-direction: row;
}

.connect {
  font-style: medium;
  font-size: 20px;
  color: #7f8cff;
}

.column {
  width: 50%;
  flex: 0 0 50%;
  margin: 10px;
}

.social-links ul {
  list-style: none;
  flex-direction: row;
  display: flex;
  padding-left: 0;
  margin-left: -5px;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  width: auto;
}

.social-links a {
  margin: 0 10px;
  color: #505f79;
  width: auto;
  font-size: 1.2rem;
}

.about-myself {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border-top-right-radius: 80px;
  padding: 30px 0;
  margin-top: 80px;
}

.social-media ul {
  list-style: none;
  flex-direction: row;
  display: flex;
  padding-left: 0;
  margin-left: -15px;
}

.social-media a {
  margin: 0 10px;
  color: #505f79;
  width: auto;
}

.resume {
  color: #396df2;
  border: 1px solid #396df2;
  border-radius: 6px;
  padding: 15px 10px;
  background-color: white;
}

.resume:hover {
  background-color: #6070ff;
  color: white;
  cursor: pointer;
}

.contacts {
  background-image: url("./assets/contact\ form\ background\ shapes@2x.png");
  background-size: 95%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  background-color: #6070ff;
  color: #ebebff;
  border-top-left-radius: 80px;
}

.web-languages-card {
  margin: 5px;
  padding: 20px;
  padding-top: 20px;
  padding-left: 10px;
  background: #f7f7f9;
  size: 20px;
}

.languages {
  display: flex;
  flex-direction: column;
}

.web-languages {
  display: flex;
}

.about-introduction {
  color: #091e42;
  font-weight: bolder;
  font-size: 30px;
}

.technologies-link {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.languages-title {
  display: flex;
  justify-content: space-between;
}

h4 {
  color: #7f8cff;
  font-size: 16px;
  font-weight: 500;
}

.contact-me {
  color: #fff;
  font-weight: 700;
  font-size: 25px;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 40px 0;
  gap: 10px;
}

form input {
  padding: 10px;
  border-radius: 1px;
}

.container-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  align-items: center;
}

.submit {
  color: #396df2;
  border: 1px solid #396df2;
  border-radius: 6px;
  width: 50%;
  padding: 5px;
  margin-left: 90px;
  background-color: #fff;
}

.submit:hover {
  background-color: #6070ff;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}

.works {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  row-gap: 8rem;
  width: 80%;
}

.work-item {
  display: flex;
  gap: 2rem;
  background-color: white;
  padding: 1rem;
  border-radius: 6px;
  width: 100%;
}

.work-item:first-child {
  margin-top: 30px;
}

.project-tags {
  margin-bottom: 30px;
}

.project-tags ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 0;
}

.container-technologies li {
  border-bottom: 1px solid #dfe1e6;
}

.project-tags ul li {
  margin-right: 8px;
  padding-right: 0;
  padding-left: 0;
}

.container-skill ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 20px;
  list-style: none;
  padding-left: 0;
}

.container-skill ul li {
  margin-right: 10px;
}

.project-description {
  text-align: left;
  font-weight: 400;
  size: 16px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.project-headline {
  color: #091e42;
  font-weight: 900;
  font-size: 24px;
  text-align: left;
}

.fa-circle {
  font-size: smaller;
  font-weight: 200;
  color: #c1c7d0;
}

.skill-button {
  color: #396df2;
  border: 1px transparent;
  border-radius: 6px;
  width: 100%;
  padding: 5px;
  margin-right: 30px;
  text-align: center;
  font-size: 10px;
}

.see-project {
  color: #396df2;
  border: 1px solid #396df2;
  border-radius: 6px;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: white;
  text-decoration: none;
}

.see-project:hover {
  background-color: #6070ff;
  color: white;
  cursor: pointer;
}

.work-item-detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.wrap ul {
  flex-wrap: wrap;
}

.wrap ul li {
  margin: 5px;
}

.container-technologies li:first-child {
  border-bottom: none;
}

.project-img {
  width: 50%;
  flex: 0 0 50%;
}

.project-img img {
  width: 100%;
}

.error {
  display: none;
  background: #f00;
  color: #fff;
  border-radius: 4px;
  padding: 1rem;
  text-align: center;
  font-weight: 600;
}

.hidden {
  display: none;
}

.show {
  display: block !important;
}

/* Modal */

/* Background */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  border: 1px solid #ebecf0;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  border-radius: 16px;
  backdrop-filter: blur(30px);
  backdrop-filter: brightness(60%);
  backdrop-filter: contrast(40%);
  opacity: 0.9;
}

.overlay {
  background-image: url("./assets/desktop-overlay.png");
  display: block;
  position: fixed;
  z-index: -5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  border: 1px solid #ebecf0;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  border-radius: 16px;
  backdrop-filter: blur(300px);
  opacity: 0.9;
  filter: blur(300px);
}

/* Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  width: 50%;
  display: flex;
  flex-direction: column;
}

/* The Close Button */
.close-button {
  position: absolute;
  right: 0;
  top: 0;
  margin: 30px;
  color: #aaa;
  float: right;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  display: flex;
}

.modal-project-headline h5 {
  color: #091e42;
  font-weight: 900;
  font-size: 24px;
  text-align: left;
  margin-top: 5px !important;
}

.modal-project-img {
  width: 100%;
}

.modal-image {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

.modal-technologies {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

@media only screen and (max-width: 770px) {
  body {
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }

  .header {
    margin: 0 auto;
    max-width: 448px;
    width: 100%;
  }

  .container-nav {
    margin: 0;
  }

  .navbar {
    float: none;
  }

  .hamburger-btn {
    display: block;
    font-size: 1em;
    z-index: 1;
    position: fixed;
    right: 30px;
    top: 20px;
    align-items: left;
  }

  .nav-bar a {
    color: white;
    text-decoration: none;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
  }

  .closeIcon {
    display: none;
    width: 12px;
    height: 12px;
    size: 30;
    margin: 15px;
    margin-bottom: 50px;
  }

  .menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: #191765;
    color: white;
    list-style: none;
    width: 100%;
    padding: 30px 20px;
    margin: 0;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }

  .menuItem {
    font-style: medium;
    font-size: 24px;
    color: #edecff;
    margin-bottom: 50px;
    position: relative;
    width: 100%;
    display: block;
  }

  .showMenu {
    transform: translateY(0);
  }

  .nav-bar ul {
    display: none;
    color: white;
    width: 12px;
    font-size: 2rem;
    height: 12px;
    size: 30;
    margin: 15px;
    margin-bottom: 50px;
  }

  .logo-title {
    display: block;
  }

  .introduction {
    background-image:
      url("./assets/semi_moon.png"),
      url("./assets/rectangle_6.png"),
      url("./assets/Rectangle\ 7.png"),
      url("./assets/Ellipse_5.png"),
      url("./assets/rectangle_4.png"),
      url("./assets/ellipse_3.png"),
      url("./assets/ellipse_13.png"),
      url("./assets/Ellipse_12.png"),
      url("./assets/rectangle_5.png"),
      url("./assets/ellipse_4.png");
    background-repeat: no-repeat;
    background-size: auto, auto, auto, auto, 120px, 100px;
    margin-top: 10px;
    padding: 25vh 0;
    margin-bottom: 30px;
    background-position:
      -40px 70px,
      -60px 20px,
      110px 140px,
      130px 155px,
      270px 90px,
      300px 140px,
      86% 74%,
      88% 70%,
      50% 95%,
      72% 91%;
  }

  .greeting {
    margin-top: 30px;
  }

  .images {
    width: 50%;
  }

  .works {
    display: flex;
    flex-direction: column;
    row-gap: 6rem;
  }

  .work-item {
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: row;
    gap: 2rem;
    background-color: white;
    padding: 1rem;
    border-radius: 20px;
  }

  .project-img {
    width: 100%;
  }

  .work-item:nth-child(even) .work-item-detail {
    order: 2;
  }

  .column {
    width: 100%;
    flex: 0 0 100%;
    margin: 10px;
  }

  form {
    width: 90% !important;
  }

  .container-contact {
    width: 100%;
  }

  .about-myself .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .about-myself {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-top-right-radius: 80px;
    padding: 30px 0;
    margin-top: 60px;
  }

  .contacts {
    background-image: url("./assets/contact\ form\ shapes-mobile@2x.png");
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 30px;
  }

  .contact-me {
    color: #fff;
    font-weight: 700;
    font-size: 25px;
    padding-top: 150px;
  }

  .contact-detail {
    margin: 0 10px;
  }

  .container-technologies {
    padding-left: 0;
  }

  .web-languages {
    display: flex;
    flex-direction: column;
    padding-left: 0;
  }

  .submit {
    margin-left: 0 !important;
    color: #396df2;
    border: 1px solid #396df2;
    border-radius: 6px;
    padding-left: 3px;
    padding-right: 3px;
  }

  .modal-content {
    width: 95%;
    padding: 4px;
  }

  .modal {
    background-image: url(./assets/Overlay.png);
  }

  .modal-technologies {
    grid-template-columns: 1fr;
  }

  .ruby {
    display: none;
  }

  .bootstrap {
    display: none;
  }

  .github {
    display: none;
  }
}
